---
---

body {
  background-color: #fdfdfd;
  font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: #06c;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 1.6em;
  color: #3e3e3e;
}

ul {
  padding-left: 1.5em;
}

.page {
  max-width: 670px;
  margin: 0 auto;
  padding: 15px;

  .page-title {
    margin-top: 0;
  }

  .post-title {
    color: #3e3e3e;
    font-size: 16px;
  }

  .post-meta {
    color: #999;

    .post-agent {
      margin-left: 8px;
    }
  }

  .verbs {
    text-align: center;
    margin: 30px 0;

    .verb-clap {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      border: 1px solid #E64545;
      color: #E64545;
    }
  }

  .nav {
    margin-bottom: 20px;
    line-height: 32px;
    overflow: auto;

    .logo {
      display: inline-block;
      color: #3e3e3e;
      height: 34px;
      line-height: 32px;

      img {
        margin-right: 10px;
        border: 1px solid #555;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        vertical-align: -10px;
      }
    }
  }

  &.index {
    max-width: 600px;

    h3 {
      color: #999;
      font-size: 20px;
      font-weight: 100;
    }

    a {
      color: #3e3e3e;
      text-decoration: underline;
    }

    .head {
      margin-bottom: 15px;
      padding: 30px 0;
      overflow: auto;

      .avatar {
        display: inline-block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        float: right;
      }

      .page-title {
        margin: 15px 0;
        font-size: 2em;
      }

      .profile {
        color: #555;
      }

      .contact {
        color: #777;
        a {
          color: #777;
          text-decoration: none;
        }
      }
    }

    .posts {

      .post-meta {
        margin-left: 5px;
        font-size: 15px;
      }

    }


    .sns {
      text-align: center;
      margin-top: 45px;

      a {
        display: inline-block;
        margin: 0 5px;
      }
    }

  }

  &.post {
    padding-bottom: 50px;

    .post-title {
      font-size: 24px;
      margin: 0 0 15px;
    }

    .post-tags {
      margin: 40px 0;

      .post-tag {
        color: #999;
        border: 1px solid #999;
        border-radius: 15px;
        padding: 2px 10px;
        font-size: 14px;
        margin-right: 5px;
      }
    }

  }

  &.archive {

    .post-title {
      text-decoration: underline;
    }

    .post-meta {
      margin-left: 5px;
      font-size: 15px;
    }
  }

  &.clap {

    .wxa-code {
      max-width: 260px;
    }

    .wx-donate {
      text-align: center;
      margin-top: 60px;
    }
  }

}

