---
---

body {
  background-color: #fdfdfd;
  font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}

a {
  text-decoration: none;
  color: #06c;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 25.6px;
  color: #3e3e3e;
}

.site {
  max-width: 670px;
  margin: 0 auto;
  padding: 15px;
}

.page {

  &.index {

  }

  &.post {
    .post-title {
      font-size: 24px;
      margin: 0 0 15px 0;
    }
  }

  .post-meta {
    color: #999;

    .post-agent {
      margin-left: 8px;
    }
  }

  .post-summary {
    color: #777;
  }
}

