---
---

body {
  background-color: #fdfdfd;
}

a {
  text-decoration: none;
  color: #06c;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.site {
  width: 800px;
  margin: 0 auto;
}

.post-meta {
  color: #999;
}

.post-summary {
  color: #777;
}
