---
layout: default
---

<div class="page post">

	<header class="post-header" >
		<h2 class='post-title'>{{ page.title }}</h2>
		<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }} <a href="{{ site.url }}" class='post-agent'>{{ site.title }}</a></span>
	</header>

	<article class="post-content">
		{{ content }}
	</article>

	{% if page.tags %}
	<div class='post-tags'>
		{% for tag in page.tags %}
		<span class='post-tag'>{{ tag }}</span>
		{% endfor %}
	</div>
	{% endif %}

	<div class='verbs'>
		<a href='/clap' class='verb-clap'>赏</a>
	</div>

</div>
