---
layout: default
---

<header class="post-header" >
	<h2 class='post-title'>{{ page.title }}</h2>
	<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }} <a href="{{ site.url }}" class='post-agent'>{{ site.title }}</a></span>
</header>

<article>
  <div class="post-content">
		{{ content }}
	</div>
	<ul class="post-pagination">
		{% if page.previous.url %}
		<li class="previous">
			<a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Prev</a>
		</li>
		{% endif %}
		{% if page.next.url %}
		<li class="next">
			<a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next &rarr;</a>
		</li>
		{% endif %}
	</ul>
</article>
